<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #dv2{
        background-color: white;
        color: rgb(156, 218, 186);
    }
    .mainIntro{
        display: flex;
        width: 80%;
        height: auto;
        position: relative;
    }
    
    .mainIntro >div{
        display: inline-block;
        margin: 0px auto;
    }
</style>
<body>
    <div class="mainIntro">
        <div id="people1">
            <img src="" alt="">
            <div>
                <h2>이름</h2>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
            </div>
        </div>
        <div id="people2">
            <img src="" alt="">
            <div>
                <h2>이름</h2>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
            </div>
        </div>
        <div id="people3">
            <img src="" alt="">
            <div>
                <h2>이름</h2>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
            </div>
        </div>
        <div id="people4">
            <img src="" alt="">
            <div>
                <h2>이름</h2>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
            </div>
        </div>
        <div id="people5">
            <img src="" alt="">
            <div>
                <h2>이름</h2>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
                <h4>
                    단체소개글 자리
                </h4>
            </div>
        </div>
</body>

</html>