<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .share {
    margin: 15px auto;
    margin-left: 160px;
    width: 550px;
    height: 700px;
  }

  .share h1 {
    text-align: left;
    margin-bottom: 10px;
  }

  .share h3 {
    text-align: right;
  }
  
  .share ul li,
  .share table li {
    list-style: none;
  }

  .share table{
    width: 100%;
    padding: auto;
    margin-top: 30px;
    margin: 30px auto;
  }

  
</style>

<body>
  <div class="share">
    <h1>단비-전시명</h1>
    <h3>마무리 글귀</h3>
    <div style="width: 450px; height: 500px; background-color: cadetblue;">
      단비의 마지막 인사
    </div>
  
  <table>
<tr>
  <td style="width=30%">    
    <div id="account">
      <li>어카운트1</li>
      <li>어카운트2</li>
      <li>어카운트3</li>
    </div>
  </td>
  <td>

    <div style="width: 40%;">logo</div>
  </td>
    <td style="width: 30%;">
      
      <li>sns별 공유</li>
      <li>sns별 공유</li>
      <li>sns별 공유</li>
    </td>    
  </tr>  
  </table>
    
  </ul>
  </div>
</body>

</html>