<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
     #te3{
       background-color: rgb(156, 218, 186);
       color:#7d7d7d;
   }
   .howto >li{
            color: white;
        }
   .mainIntro{
       display: flex;
       width: 80%;
       height: auto;
       position: relative;
   }
   .introDanve{
       text-align: left;
       position: relative;
       box-sizing: border-box;
       display: inline;
       margin: 0px auto;
       right: 180px;
   }
   .content{
       height: 1100px;
   }
  
</style>
<body>
  <div style="padding-top:60px">
    <!-- 본실험 영상 1편 (혹은 예고편) -->
    <div class="teaser1">
      <br>
      <div style="text-align: right;"> <h2>실험 영상 제목 자리</h2> </div>
      <div style="text-align: right;"> <p> 실험 영상 설명 자리입니다.</p> </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uIemFWzxk0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="teaser2">
      <br>
      <div style="text-align: left;"> <h2>실험 영상 제목 자리</h2> </div>
      <div style="text-align: left;"> <p> 실험 영상 설명 자리입니다.</p> </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uIemFWzxk0w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</body>
</html>